/*body {
    text-align: right;
}*/

.title {
  font-size: 65px;
  font-family: 'Inconsolata';
}

.block {
  font-size: 45px;
  font-family: 'Inconsolata';
}

.listBody {
  margin-top:15px;
  margin-left:20px;
  font-size:20px;
}

.icon {
  margin-right:8px;
  margin-top:25px;
  width:50px;
  height:50px;
}

ul {
  list-style-type: none;
}

li {
   margin:0 0 30px 0;
}

p {
  font-size:20px;
}

button:focus {
  outline:0;
}

button.aboutButton {
  outline:none;
  background:none;
  border:none;
}

#background {
  background-color: #f0f0f5;
  display:inline-block;
  height: 600px;
  width: 100%;
}

.typed-cursor{
    font-size: 65px;
    top:30%;
    position:relative;
    opacity: 1;
}
