canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#inputURL {
  text-align: center;
  padding:40px;
}

#myText {
  background-color: #000000;
  width:400px;
  height:35px;
  border:5px solid #111;
  border-radius:5px;
}

span.glyphicon {
    font-size: 2em;
}

#playButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
